{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/osuapp/slick/slick.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/osuapp/slick/slick-theme.css') }}" />
{% endblock %}

{% block header_container_wrap %}
    <div class="single-item">
        <div><img src="{{ asset('bundles/osuapp/images/slider/s1.png') }}" /></div>
        <div><img src="{{ asset('bundles/osuapp/images/slider/s2.png') }}" /></div>
        <div><img src="{{ asset('bundles/osuapp/images/slider/s3.png') }}" /></div>
        <div><img src="{{ asset('bundles/osuapp/images/slider/s4.png') }}" /></div>
        <div><img src="{{ asset('bundles/osuapp/images/slider/s5.png') }}" /></div>
        <div><img src="{{ asset('bundles/osuapp/images/slider/s6.png') }}" /></div>
    </div>
{% endblock %}

{% block content %}
    <h1>Dear colleagues, our friends and students!</h1>
    <p>We are pleased to greet you on the webpage of International Medical Faculty of Osh State University (OshSU), the educational flagship in Kyrgyzstan and a classical international university, which is a member of Shanghai Association of Universities.<br />
        The International Medical Faculty is the youngest unit of higher professional education in OshSU. Expedient and timely decision on establishment of the faculty was taken in the Academic Council of August 29, 2015.</p>
    <h1>faculty targets</h1>
    <table class="faculty-targets">
        <tr>
            <td class="number">1</td>
            <td class="content">To educate highly qualified medical specialists who are on high demand on labor markets of foreign countries and the Kyrgyz Republic, with competencies to carry out independent professional, scientific and research activities; to prepare competitive and highly intelligent professionals with excellent abilities for self-development.</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="content">To internationalize the national medical education.</td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="content">To establish partnerships with educational institutes of foreign countries for creating opportunities for students to participate in exchange programs and create networks, strengthening University status on international level.</td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td class="content">To enter the system of international scientific, informational and communicational space and also the group of leaders of main medical educational centers of our region.</td>
        </tr>
    </table>
    <p>Language of instruction on the faculty is English. There are 2 chairs and more than 40 academicians, including assistant professors and professors, among them – honored workers of Education, Science and Health of the Kyrgyz Republic.<br />
        We will do our best efforts for our faculty students to get high-quality and internationally recognized education.</p>
    <div class="hr"></div>
    <span class="sub-text">With sincere respect,<br />
                                   International Medical Faculty Team of Osh State University</span>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/osuapp/slick/slick.js') }}"></script>
    <script>
        $('.single-item').slick({
            arrows: false,
            dots: true,
            infinite: true,
            speed: 700,
            autoplay: true,
            autospeed: 200
        });
    </script>
{% endblock %}
