{% extends "::base.html.twig" %}

{% block title %}News{% endblock %}

{% block header_container_wrap %}
    <img src="{{ asset('bundles/osuapp/images/News.png') }}" />
    <div class="page-title">Latest News</div>
{% endblock %}

{% block content %}
    <div class="search-field">
        <form action="#" method="POST" class="search-form">
            <input type="search" name="key" placeholder="Search...">
            <button type="submit"><img src="{{ asset('bundles/osuapp/images/icons/search.svg') }}" width="16px" /></button>
        </form>
    </div>
    <div class="news-grid">
        {% for post in news %}
            {% if post.preview %}
                <div class="one-post parent">
                    <div class="post-preview">
                        <div class="post-image-container">
                            <img src="{% path post.preview, 'reference' %}"/>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-title">{{ post.title }}</div>
                        <div class="post-date">{{ post.date|date('Y-m-d') }}</div>
                        <div class="post-text"><p>{{ post.content|slice(0, 370) }} …</p></div>
                        <div class="post-entry-link"><a href="{{ path('post', {id: post.id}) }}">Read More</a></div>
                    </div>
                </div>
            {% else %}
                <div class="one-post">
                    <div class="without-preview">
                        <div class="post-title">{{ post.title }}</div>
                        <div class="post-date">{{ post.date|date('Y-m-d') }}</div>
                        <div class="post-text"><p>{{ post.content|slice(0, 370) }} …</p></div>
                        <div class="post-entry-link"><a href="{{ path('post', {id: post.id}) }}">Read More</a></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
